[submodule "Robot"]
	path = Robot
	url = https://github.com/robotpilotsEC/RP_2025_ENGINEER_ROBOT.git
[submodule "Custom_Controller"]
	path = Custom_Controller
	url = https://github.com/robotpilotsEC/RP_2025_ENGINEER_CONTROLLER.git
[submodule "Docs"]
	path = Docs
	url = https://github.com/robotpilotsEC/RP_2025_ENGINEER_DOC.git
